/* 2016-4-22 by shuai*/
@charset "utf-8";
#reg-hd h2{font:bold 28px/77px "微软雅黑";color:#7eaade;}
.reg-wrap{border: 1px solid #d7d7d7; padding:54px 0 68px;margin-top: 18px;}
.reg-wrap img{vertical-align:middle;}
.reg-wrap input{outline: none;}
.interest-box{width:540px;margin: 0 auto;}


.intere-hd h3{font:bold 16px/30px "微软雅黑";color: #5d5d5d;margin-bottom: 27px;}
.intere-hd ul{margin-right: -44px;overflow: hidden;*zoom:1;}
.intere-hd ul li{float: left; display: inline;width:72px;margin-right: 44px;text-align: center; }
.intere-hd ul li p{color: #fff;margin-top: 3px;}
.intere-hd ul li a{display: block;padding: 4px 0;}
.intere-hd ul li a:hover{text-decoration: none;}
.intere-hd .item1{background-color: #fdbd66}
.intere-hd .item2{background-color: #fd7679}
.intere-hd .item3{background-color: #63cdf7}
.intere-hd .item4{background-color: #8dd3bf}
.intere-hd .item5{background-color: #a87eeb}

.intere-bd{margin-top: 16px;}
.intere-tabcon{background-color: #fcfafa;border:1px solid  #d7d7d7;position: relative; padding: 40px 0 43px 12px;}
.intere-tabcon .current{background: url(../images/regimg/ico_pointer.gif) 0 0 no-repeat;width:15px;height: 14px;position: absolute;top:-14px;}
.campus-intere-bd .current{left:22px;}

.intere-word-list li,.intere-tuwen-list  .other-country{float: left; display: inline;width:111px;height: 32px;line-height:32px;border:1px solid #d7d7d7;text-align: center;background-color: #fff;margin-right: 18px;margin-bottom:17px;color:#464646;cursor: pointer;}
.intere-word-list li.active{background-color: #27aec2;border-color: #27aec2;color:#fff;}


.selector-list{margin-top: 32px;color:#464646;}
.selector-list ul{width:460px;}
.selector-list li{float: left;/*min-width: 86px;*/ padding:0 8px;background-color: #cdf2f8;margin-right: 22px;height: 27px;line-height: 27px;font-size:12px;text-align: center;margin-bottom: 10px;}
.selector-list li .cancel{background: url(../images/regimg/cancel.gif) 0 0 no-repeat;width:18px;height: 18px; display: inline-block;vertical-align: middle;cursor: pointer;margin-left:5px;}
.selector-list h4{width:80px;height:27px;font:16px/27px "微软雅黑";}

.btnbox{text-align: center;margin-top:27px;}
.regbtn{width:168px; height: 40px;background: url(../images/regimg/btn_bg.gif) 0 0 repeat-x; text-align: center; font:16px/40px "microsoft yahei";color:#fff;outline: none;}

.abroad-intere-bd .current{left:140px;}
.intere-tuwen-list li{float: left;width:103px;height: 22px; line-height: 22px;color:#464646;margin-bottom: 22px; cursor: pointer;}
.intere-tuwen-list li img{margin-right: 8px;}
.abroad-intere-bd .intere-tabcon{padding-left:20px;}

.train-intere-bd .current{left:255px;}
.active-intere-bd .current{left:375px;}
.recruit-intere-bd .current{left:490px;}
/*reg*/
.regform{padding-left: 260px;}
.regform dl{line-height: 30px;margin-bottom: 18px;}
.regform dt{width:70px; text-align:right;font-size:12px;color:#5d5d5d;margin-right: 5px;}
.regform  dd{position: relative;}
.regform  dd input{width:258px;height: 28px; line-height:28px\9;border:1px solid #d7d7d7; text-indent: 8px; background: transparent; position: relative;z-index: 1;padding:0;}
.regform  dd .code-txt{width:135px;}
.regform .regbtn{margin-left: 75px;width:260px;cursor: pointer;}
.regform .reg-placeholder{color:#a4a4a4;position:absolute;left:9px;top:1px;height:28px;font-size:12px;line-height:28px; display: none;}

.regform input.error{border-color: #27aec2;}
.regform label.error{color:#27aec2;margin-left:12px;}
label.Validform_right{background:url(../images/regimg/correct.gif) 0 0 no-repeat; padding-left:30px; width:13px;height:11px;}
.regform .getcode{background: url(../images/regimg/btn_getcode.png) 0 0 no-repeat;width:105px;height: 30px;text-align:center;border: none;color:#464646; cursor: pointer;}

.email-tips-list{width: 258px; background:#fff; border:1px solid #cbcbcb;font-family:Simsun; position:absolute;top: 29px;left: 0px; z-index:10;color:#a4a4a4;}
.email-tips-list p{padding:0 4px; height:22px;line-height: 22px; overflow:hidden;}
.email-tips-list li{padding:0 4px; height:22px; line-height: 22px; cursor:pointer;}
.email-tips-list li.active{ background:#f1f1f1;color:#464646;}